/* Importando a fonte que usamos */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* Formatando o container do site todo */
.container {
  padding: 0 5%;
  margin: 0 auto;
}

/* Formatando todos os títulos */
.titulo {
  color: #c62828;
  font-size: 2rem;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

/* Formatando todas as descrições */
.descricao {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
}

.descricao-mapa {
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}

/* Formatando todos os botões */
.botao-geral {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

.botao {
  background-color: #c62828;
  width: 380px;
  padding: 10px 25px;
  color: white;
  cursor: pointer;
  border-radius: 17px;
  border: none;
}

.botao-header {
  width: 100px;
  padding: 5px;
}

.botao-header2 {
  width: 180px;
  padding: 5px;
}

#botao-none li a:hover {
  color: #fcf6c5;
}

.botao a {
  color: #fcf6c5;
  text-decoration: none;
}

.botao:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
